@model Paciente

<h2 class="text-center">Relacionar Doença com Paciente</h2>
<br />
<link href="~/css/EstilizacaoHome.css" rel="stylesheet" />

<form class="col-5 container" asp-action="CadastrarDoenca" asp-controller="Paciente">
    <div class="form-group">
        <p><span class="font-weight-bold">Paciente:</span> @Model.Nome</p>
        <input asp-for="PacienteId" class="form-control" type="hidden" />
        <div class="d-flex">
            <select class="form-control mr-1 col-8" asp-items="@ViewBag.doencas" name="DoencaId">
                <option disabled>--Selecione uma Doença--</option>
            </select>
            <a class="btn btn-success col-4" asp-action="Cadastrar" asp-controller="Doenca">Nova Doença</a>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-warning mr-2" value="Salvar" />
        <a asp-action="Index" class="btn btn-outline-dark">Voltar</a>
    </div>
</form>
<br />
<h2 class="text-center">Todas as doenças do Paciente </h2>
<br />
<div class="d-flex justify-content-center">
    @foreach (var item in ViewBag.doencasPorId)
    {
        <div class="div-warning mx-1" style="padding: 6px 20px; border-radius: 10px;">
            <p class="m-0">@item.Nome</p>
        </div>
    }
</div>

