@model Paciente



<form asp-action="CadastrarDoenca" asp-controller="Paciente">
    <div class="form-group">
        <p>@Model.Nome</p>
        <input asp-for="PacienteId" class="form-control" type="hidden" />
        <select class="form-control mr-1" asp-items="@ViewBag.doencas" name="DoencaId">
        </select>
    </div>
    <input type="submit" class="btn btn-success" value="Salvar"/>
    
</form>
    <a asp-action="Index" class="btn btn-outline-dark">Voltar</a>


<!--
<div class="form-group">
    <label asp-for="N"></label>
    <input asp-for="Sintomas" class="form-control" id="cpf" />
    <span asp-validation-for="Sintomas" class="text-danger mb-3" style="text-align: center"></span>
</div>

<div class="form-group">
    <input asp-for="Pacientes" type="hidden" value="" class="form-control" />
</div>
-->
